<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>509413811079-73uh7msh35is0bsm5dnbdh3j0laig1mb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.509413811079-73uh7msh35is0bsm5dnbdh3j0laig1mb</string>
	<key>API_KEY</key>
	<string>AIzaSyCmXKruwAJpkqv7RwtH2fDn7f5c2edzEXc</string>
	<key>GCM_SENDER_ID</key>
	<string>509413811079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brownstone.NiaNow</string>
	<key>PROJECT_ID</key>
	<string>nianow-a5d5b</string>
	<key>STORAGE_BUCKET</key>
	<string>nianow-a5d5b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:509413811079:ios:7394cf9bf0d39bdd</string>
	<key>DATABASE_URL</key>
	<string>https://nianow-a5d5b.firebaseio.com</string>
</dict>
</plist>